*{
    margin: 0;
    padding: 0;
}

.Home_page{
    background-color: white;
    height: 100vh;
    display: flex;
}

.Home_page img{
    width:100%;
    height: 100%;
    flex-basis: 50%;
}

.secondhalf{
    padding:10px;
    margin:auto;
    flex-basis: 50%;
}

.secondhalf h1{
    color: #2f0f64;
    font-family: serif;
    font-weight: bolder;
    padding:50px;
    margin:auto;
}

.transaction_form{
    padding:20px;
    margin:auto;
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    padding:5px;
    align-items: center;
    justify-content: center;
}

.transaction_form input{
    width:90%;
    height: 40px;
    margin:8px;
    border: 2px solid #2f0f64;
}

.row button{
    background-color: #2f0f64;
    width:120px;
    height: 35px;
    color: white;
    border: none;
}