*{
    margin: 0;
    padding: 0;
}

.page{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gotohome{
    position: absolute;
    top: 20px;
    left: 2vw;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.block{
    width: 70vw;
    height: 200px;
    margin: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #e6dcdc5c;
    // border: 1px solid black;
}

.info-block{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-color: red;
    h2{
        padding:10px;
    }
    p{
        font-size: 1vw;
        padding:5px;
    }
}

.button-block{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: yellow;
}

.circle-block{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-circle{
    width:160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);
}

.inner-circle{
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05) ;
}

circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    // animation: anim 2s linear forwards;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

svg{
    position: absolute;
    top: 0;
}


@keyframes anim {
    100%{
        stroke-dashoffset: 0;
    }
}

@media (max-width:800px){
    .block{
        flex-direction: column-reverse;
        height: auto;
    }
    .info-block{
        margin-top: 20px;
        p{
            font-size: 1.5vw;
        }
    }
    .circle-block{
        margin-top: 10px;
    }
}

@media (max-width:700px){
    .info-block p{
        font-size: 2vw;
    }
}

@media (max-width:500px){
    .info-block p{
        font-size: 2.5vw;
    }
}

@media (max-width:400px){
    .info-block p{
        font-size: 3vw;
    }
}