.login-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.15);  
  backdrop-filter: blur(5px);

  .loginform-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    max-width: 450px;
    margin:30px 50px;
    padding: 50px;
    background-color: white;

    .loginform-control {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border: none;
      width: 100%;
      .login-labels {
        font-size: 25px;
      }
      .loginform-input {
        width: 96%;
        height: 50px;
        padding: 0px 10px;
        border: none;
        border-radius: 0%;
        // background: #fb4c4c;
        outline: none;
        margin: 10px 0px;
        font-size: 20px;
        border: 1px solid #fb4c4c;
      }

      .loginform-input:focus{
        border: 2px solid #fb4c4c;
      }
    }
    .login-btn {
      width: 40%;
      height: 50px;
      margin: 20px 0px;
      font-size: 20px;
      border: none;
      background: #fb4c4c;
      color: white;
    }
  }
}

.login-container b{
  font-size: 2.5vw;
  margin-bottom: 10px;
}
.loginform-container h4{
  font-size: 1vw;
  margin-bottom: 30px;
}

.loginform-container a{
  marginTop: 30px;
  text-decoration: none;
}

::-webkit-input-placeholder{
  color: black;
  font-size: smaller;
}
