*{
    margin: 0;
    padding: 0;
}

.booknowpage2-secondhalf{
    flex: 1;
    background-image: url(../../Images/QRcodescan.gif);
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: 50% 50%;
    position: relative;
}

.booknowpage2-secondhalf p{
    position: absolute;
    bottom: 0;

}

@media (max-width:800px) {
    .booknowpage2-secondhalf p{
        left: 25%;
        font-size: 1.7vw;
    }
}


@media (max-width:400px) {
    .booknowpage2-secondhalf p{
        left: 10%;
        font-size: 2.5vw;
    }
}