.signUp-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 2px solid red;
}

.signUp-container h1{
  padding:20px 20px 40px 20px;
}