.signUp-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // background-color: #e9d8a6;
  height: 100vh;
  .sign-up-header {
    background-color: #98f5e1;
    border-bottom: 1px solid gray;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-wrapper {
    width: 100%;
  }
}

// .signUp-container form {
//   width: 50%;
// }
