*{
    margin: 0;
    padding: 0;
}

.booknowpage5-secondhalf{
    flex: 1;
    background-image: url(../../Images/Enjoyride.gif);
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: 50% 50%;
}