* {
  margin: 0;
  padding: 0;
}

.Home-container {
  // height: 535px;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto 30px auto;
}

.Home-mainpage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  min-height: 400px;

  margin-top: 90px;
  margin-bottom: 10px;
  background-color: #fb4c4c;
  border-radius: 20px;

  .Home-firsthalf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .label-1 {
      font-family: "Mochiy Pop P One", sans-serif;
      font-weight: lighter;
      color: white;
      margin: 10px;
      font-size: 25px;
    }
    .label-2 {
      font-family: "Roboto Mono", monospace;
      color: white;
      margin: 10px;
    }
  }
  .Home-secondhalf {
    padding: 0px;
  }
  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.book-now-btn {
  background-color: #ffb703;
  //   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: white;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  width: 20vw;
  height: 50px;
  border: none;
  outline: none;
  font-weight: bold;
  border-radius: 10px;
  margin: 10px;
  &:hover {
    background-color: #ffb8037e;
    border: 2px solid #fb4c4c;
    transition: 0.5s;
  }
}

.sharetab {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;

  height: 4vh;
  color: #fb4c4c;
}

.bottomnavbar {
  display: none;
}

.blockchain-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  h1 {
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    font-size: 4vw;
  }
  h3 {
    font-weight: lighter;
  }
  img {
    height: 50px;
    width: 50px;
  }
}

.blockchain-container {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: white;
  .stepsdiv {
    position: absolute;
    color: white;
    h1 {
      font-family: "Noto Serif", serif;
      font-size: 11vw;
      display: inline;
    }
    .indiv {
      display: flex;
      align-items: center;
    }
    .info {
      h2 {
        font-size: 4vw;
        font-family: "Noto Serif", serif;
      }
      h4 {
        font-weight: lighter;
        font-size: 2vw;
      }
    }
  }
}

.image-content {
  height: 1000px;
  background: url("../../Images/blockchainimg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: red;
  background-position: 30% 50%;
  border-radius: 10px;
}

#stepsdiv1 {
  bottom: 80vh;
  left: 10vh;
}

#stepsdiv2 {
  bottom: 30vh;
  right: 10vh;
}

#stepsdiv3 {
  bottom: -20vh;
  left: 10vh;
}

#stepsdiv4 {
  bottom: -70vh;
  right: 10vh;
}

.projectmember {
  background-color: green;
}

// @media (max-width: 800px) {
//   .Home-mainpage {
//     flex-direction: column-reverse;
//     // min-height: 500px;
//     margin-top: 100px;
//   }
//   .Home-content h1 {
//     font-size: 4vw;
//   }
//   .Home-content h2 {
//     font-size: 2vw;
//   }
//   #booknowbtn {
//     font-size: 2vw;
//   }
// }

// @media (max-width: 700px) {
//   .Home-content h1 {
//     font-size: 5vw;
//   }
//   .Home-content h2 {
//     font-size: 2.5vw;
//   }
//   #booknowbtn {
//     font-size: 2.5vw;
//     width: 25vw;
//   }
// }

// @media (max-width: 500px) {
//   .Home-content h1 {
//     font-size: 7vw;
//   }
//   .Home-content h2 {
//     font-size: 3.5vw;
//   }
//   #booknowbtn {
//     font-size: 3.5vw;
//     width: 30vw;
//   }
// }

// @media (max-width: 400px) {
//   .Home-content h1 {
//     font-size: 9vw;
//   }
//   .Home-content h2 {
//     font-size: 3vw;
//   }
//   #booknowbtn {
//     font-size: 5.5vw;
//     width: 50vw;
//   }
// }

// @media (max-width:400px) and (max-height:900px) {
//     .mainpage{
//         max-height: 700px;
//     }
// }
